.apiNode {
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px !important;
  gap: 5px;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 170px;
  border-radius: 5px;
  border: 1px solid #393e49;
  background: #17181d;
}

.scriptNode {
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 3px;
  padding: 0px !important;
  min-width: 600px;
  min-height: 400px;
}

.scriptHandle {
  height: unset !important;
  position: unset !important;
  width: 12px !important;
  background-color: #ffffff10;
  border-radius: 0% !important;
  border-color: transparent;
}

.functionTitle {
  text-decoration: none !important;
}
.nodeContainer {
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.nodeHeader {
  overflow: hidden;
  background: #18191b;
  display: flex;
  height: 22px;
  align-items: center;
  align-self: stretch;
  color: #fff;
  font-size: 8px;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.apiNode > table {
  color: #fff;
  padding: 5px 10px;
}

.nodeHeader > table {
  color: #fff;
  padding: 2px 5px;
  width: "100%";
}

.nodeHeader > table > tbody {
  color: #fff;
  padding: 2px 10px;
  width: "100%";
}

.nodeHeader > table > tbody > tr > td {
  vertical-align: top;
}

.apiNode > table {
  color: #fff;
  padding: 2px 5px;
  width: 100%;
}

.apiNode > table > tbody {
  color: #fff;
  padding: 2px 10px;
  width: 100%;
}

.apiNode > table > tbody > tr {
  height: 16px !important;
}

.apiNode > table > tr > td > div {
  align-items: center;
  flex-direction: "row";
  display: "flex";
}

.react-flow__handle-left {
  transform: none;
  left: 0px;
  top: unset !important;
}

.react-flow__handle-right {
  transform: none;
  right: 0px;
  top: unset !important;
}

.react-flow__handle {
  height: 8px;
  width: 8px;
}

.ioHandle {
  position: relative !important;
}

.outTable {
  gap: 10px;
}

.outTable > table > tbody {
  color: #fff;
  padding: 2px;
  width: 100%;
}

.nodeTag {
  position: absolute;
  height: 18px;
  top: -20px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  background-color: #282828;
  border-radius: 3px 3px 0px 0px;
  color: #fff;
}

.cellSpacer {
  min-width: 150px !important;
}

.cellSpacerHalf {
  min-width: 73px !important;
}

.cellEnd {
  text-align: end;
}

/* Colors */

.anyEdge {
  border-radius: 3px !important;
  width: 24px !important;
  border-color: #ffffff50;
  border-width: 1px;
  padding: 5px;
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 200% 200%; /* This allows the gradient to be larger than the element, enabling the animation */
  -webkit-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.integerBG {
  background-color: #a456e5;
}

.integerEdge {
  border-color: #a456e5;
  background-color: #1e1e1e;
}

.numberBG {
  background-color: #a456e5;
}

.numberEdge {
  border-color: #a456e5;
  background-color: #1e1e1e;
}

.eventNodeBG {
  background-color: #ff4747;
}

.stringBG {
  background-color: #2bb74a;
}

.stringEdge {
  border-color: #2bb74a;
  background-color: #1e1e1e;
}

.logEdge {
  border-color: #e76bd3;
  background-color: #1e1e1e;
}

.arrayBG {
  background-color: #f1ee07;
}

.arrayEdge {
  border-color: #f1ee07;
  background-color: #1e1e1e;
}

.objectEdge {
  border-color: #f1ee07;
  background-color: #1e1e1e;
}

.objectBG {
  background-color: #f1ee07;
}


.booleanBG {
  background-color: #ff4747;
}

.toastBG {
  background-color: #94c02f;
}

.booleanEdge {
  border-color: #ff4747;
  background-color: #1e1e1e;
}

.eventBG {
  background-color: #ff4747;
}

.eventEdge {
  border-color: #ff4747;
  background-color: #1e1e1e;
}

.context-menu button:hover {
  background: white;
}

.react-flow__node.selectable:focus {
  outline: #ffffff30 solid 1px;
}

.nodeHeaderDetailsUnderline {
  text-decoration: underline;
}

.rightAlign {
  float: right;
}

.endpoint {
  right: 0px;
}

.entrypoint {
  left: 0px;
}

.return {
  right: 0px;
}

.response {
  left: 0px;
}

.endHandle {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.nodeHeaderContent {
  display: flex;
  height: 22px;
  padding-left: 0.2rem;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background-color: #191A21;
  border: 1px solid #393e49;
}

.nodeHeaderContent > .nodeFieldText {
  color: #fff !important;
}

.nodeHeaderContentDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  gap: 5px;
}

.nodeHeaderContentDetailsTag {
  display: flex;
  align-items: center;
  align-self: stretch;
  border-radius: 3px;
  border: 1px solid #393e49;
  background: #111214;
}

.divider {
  display: flex;
  width: 100%;
  border-bottom-color: #ffffff10;
  border-bottom-width: 1px;
}

.headerHandle {
  background-color: transparent !important;
  border-color: transparent !important;
}

.nodeToggleHeader {
  font-size: 8px;
  flex: 1;
  gap: 3px;
  display: flex;
  width: 100%;
}

.nodeHeaderHandle {
  display: flex;
  width: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: #353a46;
}

.nodeContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #393e49;
  background-color: #1f2027;
}

.nodeContentParent {
  padding: 5px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.closeCarat {
  transform: rotate(-90deg);
}

.flowComponentHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}

.nodeContentField {
  height: 20px !important;
  overflow: hidden;
}

.handleRight {
  border-left-width: 1px;
  border-color: #393e49;
}

.handleLeft {
  border-right-width: 1px;
  border-color: #393e49;
}

.stringBorder {
  border-color: #2bb74a;
}

.integerBorder {
  border-color: #a456e5;
}

.numberBorder {
  border-color: #a456e5;
}

.eventNodeBorder {
  border-color: #ff4747;
}

.arrayBorder {
  border-color: #f1ee07;
}

.booleanBorder {
  border-color: #ff4747;
}

.toastBorder {
  border-color: #94c02f;
}

.eventBorder {
  border-color: #ff4747;
}

.logBorder {
  border-color: #e76bd3;
}

.nodeFieldText {
  color: rgba(255, 255, 255, 0.8);
  font-family: "IBM Plex Mono";
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 0.5em;
}

.react-flow__node {
  z-index: -1 !important;
}

.noBG {
  background-color: unset !important;
}

.nodeStackedItems {
  overflow: hidden !important;
  max-height: 0 !important;
  position: relative !important;
  gap: 0 !important;
}

.nodeStackedItems > .nodeHeaderContentDetailsTag {
  margin-top: -2px
}

.apiNode:has(.GET-Node) {
  background-color: #1B2A25;
  border-color: #1C3E26 !important;
}

.apiNode:has(.POST-Node) {
  background-color: #37261C;
  border-color: #7c5000 !important;
}

.nodeContentContainer .nodeContentParent:not(:last-child) {
  border-bottom: 1px solid #393e49;
}
