.apiNode {
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #282828;
  border-radius: 3px;
  padding: 0px !important;
  min-width: 170px;
}

.scriptNode {
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #333;
  border-radius: 3px;
  padding: 0px !important;
  min-width: 600px;
  min-height: 400px;
}

.scriptHandle {
  height: unset !important;
  position: unset !important;
  width: 12px !important;
  background-color: #ffffff10;
  border-radius: 0% !important;
  border-color: transparent;
}

.ApiNodeEntry {
  border-radius: 0px 3px 3px 3px !important;
}

.functionTitle {
  text-decoration: none !important;
}

.nodeHeader {
  border-radius: 3px 3px 0px 0px;
  color: #fff;
  display: flex;
  padding: 2px 5px;
  font-size: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.apiNode > table {
  color: #fff;
  padding: 5px 10px;
}

.nodeHeader > table {
  color: #fff;
  padding: 2px 5px;
  width: "100%";
}

.nodeHeader > table > tbody {
  color: #fff;
  padding: 2px 10px;
  width: "100%";
}

.nodeHeader > table > tbody > tr > td {
  vertical-align: top;
}

.apiNode > table {
  color: #fff;
  padding: 2px 5px;
  width: 100%;
}

.apiNode > table > tbody {
  color: #fff;
  padding: 2px 10px;
  width: 100%;
}

.apiNode > table > tbody > tr {
  height: 16px !important;
}

.apiNode > table > tr > td > div {
  align-items: center;
  flex-direction: "row";
  display: "flex";
}

.react-flow__handle-left {
  transform: none;
  left: 0px;
  top: unset !important;
}

.react-flow__handle-right {
  transform: none;
  right: 0px;
  top: unset !important;
}

.react-flow__handle {
  height: 8px;
  width: 8px;
}

.ioHandle {
  position: relative !important;
}

.outTable {
  gap: 10px;
}

.outTable > table > tbody {
  color: #fff;
  padding: 2px;
  width: 100%;
}

.nodeTag {
  position: absolute;
  height: 18px;
  top: -17px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  background-color: #282828;
  border-radius: 3px 3px 0px 0px;
  color: #fff;
}

.cellSpacer {
  min-width: 150px !important;
}

.cellSpacerHalf {
  min-width: 73px !important;
}

.cellEnd {
  text-align: end;
}

/* Colors */

.anyEdge {
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 200% 200%; /* This allows the gradient to be larger than the element, enabling the animation */
  -webkit-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.integerBG {
  background-color: #a456e5;
}

.eventNodeBG {
  background-color: #ff4747;
}

.integerEdge {
  border-color: #a456e5;
  background-color: #1e1e1e;
}

.stringBG {
  background-color: #2bb74a;
}

.stringEdge {
  border-color: #2bb74a;
  background-color: #1e1e1e;
}

.logEdge {
  border-color: #e76bd3;
  background-color: #1e1e1e;
}

.arrayBG {
  background-color: #f1ee07;
}

.arrayEdge {
  border-color: #f1ee07;
  background-color: #1e1e1e;
}

.booleanBG {
  background-color: #ff4747;
}

.booleanEdge {
  border-color: #ff4747;
  background-color: #1e1e1e;
}

.eventBG {
  background-color: #ff4747;
}

.eventEdge {
  border-color: #ff4747;
  background-color: #1e1e1e;
}

.context-menu button:hover {
  background: white;
}

.react-flow__node.selectable:focus {
  outline: #ffffff30 solid 1px;
}

.nodeHeaderDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex: 1;
  width: 100%;
}

.nodeHeaderDetailsUnderline {
  text-decoration: underline;
}

.rightAlign {
  float: right;
}

.endpoint {
  right: 0px;
}

.entrypoint {
  left: 0px;
}

.return {
  right: 0px;
}

.response {
  left: 0px;
}

.endHandle {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.nodeHeaderContent {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  margin: 3.5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #ffffff10;
}

.nodeHeaderContentDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  gap: 5px;
}

.nodeHeaderContentDetailsTag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
  padding-left: 5px;
  gap: 5px;
  height: 15px;
}

.maxi {
  height: 25px !important;
}

.divider {
  display: flex;
  width: 100%;
  border-bottom-color: #ffffff10;
  border-bottom-width: 1px;
}

.headerHandle {
  background-color: transparent !important;
  border-color: transparent !important;
}

.nodeToggleHeader {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 8px;
  background-color: #ffffff10;
  border-bottom-width: 1px;
  border-bottom-color: #1e1e1e50;
}
